<% form_for :comment, @comment, :url => add_comment_post_path(@post) do |f| %>
  
  <%= f.error_messages %>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>