<div class="post">

<div class="post_sidebar">
	<div class="time">
	<em class="day"><%= post.created_at.strftime("%d") %></em><br/>
	<em class="month"><%= post.created_at.strftime("%b") %></em><br/>
	<em class="year"><%= post.created_at.strftime("%Y") %></em><br/>
	</div>
</div>
<div class="post_content">
	<%= link_to h(post.title), post, :class=>"title" %>

	<span class = "content">
		<%= auto_link simple_format post.content %>
	</span>

    <span class = "post_actions">
	<%=  link_to number_of_comments(post), 
				 post_path(post, :anchor => "comments_block") %>

    <% if current_user %>
      |
      <%= link_to "Edit", edit_post_path(post) %>
    <% end %>
    </span>
	
</div>
<br style="clear:both;" />
</div>
