<div class="post">
	<%= link_to h(post.title), post, :class=>"title" %>
	<span class = "date"> 
		<em><%= post.created_at.strftime("%d/%m/%y") %></em>
		<em> <%= post.created_at.strftime("%H:%M") %></em>
	</span>
	<span class = "content">
		<%= auto_link simple_format post.content %>
	</span>
	<%=  link_to number_of_comments(post), post_path(post, :anchor => "comments") %>	
</div>