	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Andion's Blog</title>
	  <%= stylesheet_link_tag 'scaffold' %>
	  <%= auto_discovery_link_tag(:rss,formatted_posts_url(:rss), 
	      :title => "Latest Andion's blog posts" ) %>
	</head>
	<body>

	
	<div class="blog_title">	
		<%= back_to_index_link %>
		<%= image_tag "titulo_blog2.png" %>
	</div>
	
	<p style="color: green"><%= flash[:notice] %></p>

		<%= yield  %>

	<%= back_to_index_link %>
	
	<% if current_user %>
	  <%= link_to "Logout", user_session_path, :method => :delete %>
	<% else %>
  	  <%= log_in_link %>	
	<% end %>
		
	</body>
	</html>