	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Andion's Blog</title>
	  <%= stylesheet_link_tag 'scaffold' %>
	  <%= auto_discovery_link_tag(:rss, posts_url(:format => 'rss'), 
	      :title => "Latest Andion's blog posts" ) %>
	</head>
	<body>

	<div id="header">
	<div class="blog_title">
	    <span class="links">
	        <% if current_user %>
	            <%= link_to "New Post", new_post_path %>
	            |	            
	        <% end %>
	        <%= log_in_or_log_out_link %>
	        <%= link_to "Stats", graph_path %>
	        
	    </span>
		
		<%= image_tag "titulo_blog2.png" %>
	</div>
	</div>
	
	<%= render_flash %>

	<%= yield  %>

	<%= back_to_index_link %>
	
    <%= log_in_or_log_out_link %>
	<p class="copyright"> 
	    <span style="font-size:1.5em;color:#333">&fnof;</span> 
	    Lucas Andión <%= Time.current.year %> 	        
	    (<%= link_to 'fork me on github',
	            'http://github.com/andion/andion-blog/tree/master' %>)
	</p>
	</body>
	</html>
